{% extends 'base.html.twig' %}

{% block title %}RendezVous index{% endblock %}

{% block body %}
    <h1>RendezVous confirmation</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Nom de l'offre</th>
            <th>Description de l'offre</th>
            <th>Nom du postulant</th>
            <th>Email du postulant</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for postulation in postuler %}
            <tr>
                <td>{{ postulation.offreemploi.titre }}</td>
                <td>{{ postulation.offreemploi.description }}</td>
                <td>{{ postulation.user.nom }}</td>
                <td>{{ postulation.user.email }}</td>
                <td>

                    <a href="{{ path('app_rendez_vous_ajout', {'id': postulation.rendezVous.id}) }}">Proposer un rdv</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_rendez_vous_new') }}">Create new</a>
{% endblock %}
