{% extends 'base.html.twig' %}

{% block title %}Accueil!{% endblock %}

{% block body %}
<style>

                                                     .button-7 {
                                                         background-color: #0095ff;
                                                         border: 1px solid transparent;
                                                         border-radius: 3px;
                                                         box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
                                                         box-sizing: border-box;
                                                         color: #fff;
                                                         cursor: pointer;
                                                         display: inline-block;
                                                         font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
                                                         font-size: 13px;
                                                         font-weight: 400;
                                                         line-height: 1.15385;
                                                         margin: 0;
                                                         outline: none;
                                                         padding: 8px .8em;
                                                         position: relative;
                                                         text-align: center;
                                                         text-decoration: none;
                                                         user-select: none;
                                                         -webkit-user-select: none;
                                                         touch-action: manipulation;
                                                         vertical-align: baseline;
                                                         white-space: nowrap;
                                                     }

    .button-7:hover,
    .button-7:focus {
        background-color: #07c;
    }

    .button-7:focus {
        box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
    }

    .button-7:active {
        background-color: #0064bd;
        box-shadow: none;
    }
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
  {#   <h1>ACCUEIL {{HSP}}! ✅</h1>#}

   <h1 align="center"> Bienvenue sur HSP </h1><br>
    <ul>
{#   <li>Your controller at <code><a href="{{ 'C:/wamp64/www/Shradha/GestionBareme/src/Controller/DefaultController.php'|file_link(0) }}">src/Controller/DefaultController.php</a></code></li> #}
  {#      <li>Your template at <code><a href="{{ 'C:/wamp64/www/Shradha/GestionBareme/templates/default/index.html.twig'|file_link(0) }}">templates/default/index.html.twig</a></code></li> #}

<table align="center">


    <tr align="center"><th><a href="{{ path('app_amphitheatre_index') }}"><button class="btn btn-outline-primary" role="button">Gestion Amphitheatre</button></a></th></tr>
    <tr align="center"><th><a href="{{ path('app_conference_index') }}"><button class="btn btn-outline-secondary" role="button">Gestion Conférence</button></a></th> </tr>
    <tr align="center"><th><a href="{{ path('app_offre_emploi_index') }}"><button class="btn btn-outline-success" role="button">Gestion Offre d'emplois</button></a></th> </tr>
    <tr align="center"><th><a href="{{ path('app_rendez_vous_index') }}"><button class="btn btn-outline-info" role="button">Gestion Rendez-vous</button></a></th> </tr>
    <tr align="center"><th><a href="{{ path('app_postuler_index') }}"><button class="btn btn-outline-warning" role="button">Gestion Postulations</button></a></th> </tr>
    <tr align="center"><th><a href="{{ path('app_validation_index') }}"><button class="btn btn-outline-danger" role="button">Gestion Validation</button></a></th> </tr>
    <tr align="center"><th><a href="{{ path('app_creation_index') }}"><button class="btn btn-outline-light" role="button">Gestion Création</button></a></th> </tr>
    <tr align="center"><th><a href="{{ path('app_validation_index') }}"><button class="btn btn-outline-primary" role="button">Valider comptes</button></a></th></tr>
    <tr align="center"><th><a href="{{ path('app_validation_index') }}"><button class="btn btn-outline-primary" role="button">Postuler Etudiant</button></a></th></tr>
    <tr align="center"><th><a href="{{ path('app_offre_emploi_etudiant', {'id': app.user.id}) }}"><button class="btn-outline-primary" role="button">Voir offres d'emplois</button></a></th></tr>
    </tr>
</table>

    </ul>
</div>
    <a href="{{ path('app_logout') }}" class="btn btn-secondary mt-3"> se deconnecter </a>

{% endblock %}
