{% extends 'base.html.twig' %}

{% block title %}OffreEmploiEtudiant{% endblock %}

{% block body %}
    <h1>OffreEmploiEtudiant</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Type_contrat</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for offre_emploi in OffreEmploiEtudiant %}
            <tr>
                <td>{{ offre_emploi.id }}</td>
                <td>{{ offre_emploi.titre }}</td>
                <td>{{ offre_emploi.description }}</td>
                <td>{{ offre_emploi.typeContrat }}</td>
                <td>
                    <a href="{{ path('app_offre_emploi_show', {'id': offre_emploi.id}) }}">show</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_offre_emploi_new') }}">Create new</a>
{% endblock %}
