{% extends 'base.html.twig' %}

{% block title %}OffreEmploiEtudiant{% endblock %}

{% block body %}
    <h1>OffreEmploiEtudiant</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Type_contrat</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for offre_emploi in offre_emploi_etudiant %}
            <tr>
                <td>{{ offre_emploi.id }}</td>
                <td>{{ offre_emploi.titre }}</td>
                <td>{{ offre_emploi.description }}</td>
                <td>{{ offre_emploi.typeContrat }}</td>


                <td>
                    {% set dejapostule = 0 %}
                    {% for postulation in postulations %}

                    {% if postulation.user.id == app.user.id and offre_emploi.id == postulation.offreEmploi.id %}
                        {% set dejapostule = 1 %}
                        Vous avez déjà postulé à cette offre
                    {% endif %}
                    {% endfor %}
                    {% if dejapostule == 0 %}
                        <form method="POST" action="{{ path('app_postuler_etudiant', {'id': offre_emploi.id})
                        }}">
                            <button type="submit">Postuler</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_default')  }}">Retour</a>
{% endblock %}
