{% extends 'base.html.twig' %}

{% block title %}OffreEmploi{% endblock %}

{% block body %}
    <h1>OffreEmploi</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ offre_emploi.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ offre_emploi.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ offre_emploi.description }}</td>
            </tr>
            <tr>
                <th>Type_contrat</th>
                <td>{{ offre_emploi.typeContrat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_offre_emploi_index') }}">back to list</a>

    <a href="{{ path('app_offre_emploi_edit', {'id': offre_emploi.id}) }}">edit</a>

    {{ include('offre_emploi/_delete_form.html.twig') }}
{% endblock %}
