<script src="https://unpkg.com/feather-icons"></script>
<script>
    feather.replace();
</script>
{{ form_start(form) }}


<div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">Email</label>
    <input type="email" class="form-control {% if form.email.vars.valid %}is-valid{% elseif form.email.vars.validated %}is-validated{% elseif form.email.vars.errors|length > 0 %}is-invalid{% endif %}" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder={{ form_widget(form.email) }}>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    {% if form.email.vars.errors|length > 0 %}
        <div class="invalid-feedback">
            {{ form_errors(form.email) }}
        </div>
    {% endif %}
</div>

<div class="form-group">
    <label for="exampleInputPassword1" class="form-label mt-4">Nom</label>
    <input type="Nom" class="form-control" id="Nom" placeholder={{ form_widget(form.nom) }}>
    <small id="nom" class="form-text text-muted">Entrez votre nom.</small>
</div>

<div class="form-group">
    <label for="exampleInputPassword1" class="form-label mt-4">Prenom</label>
    <input type="prenom" class="form-control" id="prenom" placeholder={{ form_widget(form.prenom) }} >
    <small id="nom" class="form-text text-muted">Entrez votre prenom</small>
</div>
<div class="form-group">
    <label for="exampleInputPassword1" class="form-label mt-4">Adresse</label>
    <input type="adresse" class="form-control" id="adresse" placeholder={{ form_widget(form.adresse) }} >
    <small id="nom" class="form-text text-muted">Entrez votre adresse</small>
</div>

        {% if form.password is defined %}

            <label> Password
                <input type="password" placeholder={{ form_widget(form.password) }}>

                <div class="password-icon">
                    <i data-feather="eye"></i>
                    <i data-feather="eye-off"></i>
                </div>
            </label>
        {% endif %}
{% if app.user.role("ROLE_ETUDIANT") %}
<div class="form-group">
    <label for="exampleInputPassword1" class="form-label mt-4">Domaine etude</label>
    <input type="adresse" class="form-control" id="adresse" placeholder={{ form_widget(form.domaine_etude) }} >
    <small id="nom" class="form-text text-muted">Entrez votre domaine d'étude</small>
</div>
{% endif %}

{{ form_widget(form) }}

    <button class="btn">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
