<script src="https://unpkg.com/feather-icons"></script>
<script>
    feather.replace();
</script>
{{ form_start(form) }}


<div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">Email</label>
    <input type="email" class="form-control {% if form.email.vars.valid %}is-valid{% elseif form.email.vars.validated %}is-validated{% elseif form.email.vars.errors|length > 0 %}is-invalid{% endif %}" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder={{ form_widget(form.email) }}>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    {% if form.email.vars.errors|length > 0 %}
        <div class="invalid-feedback">
            {{ form_errors(form.email) }}
        </div>
    {% endif %}
</div>

<div class="form-group">
    <label for="exampleInputPassword1" class="form-label mt-4">Nom</label>
    <input type="Nom" class="form-control" id="Nom" placeholder={{ form_widget(form.nom) }}>
    <small id="nom" class="form-text text-muted">Entrez votre nom.</small>
</div>

<div class="form-group">
    <label for="exampleInputPassword1" class="form-label mt-4">Prenom</label>
    <input type="prenom" class="form-control" id="prenom" placeholder={{ form_widget(form.prenom) }} >
    <small id="nom" class="form-text text-muted">Entrez votre prenom</small>
</div>
{%if app.user.roles[0] == "ROLE_HOPITAL" %}
<div class="form-group">
    <label for="exampleInputPassword1" class="form-label mt-4">Role</label>
    <input type="role" class="form-control" id="role" placeholder={{ form_widget(form.role) }} >
    <small id="role" class="form-text text-muted">Entrez votre role.</small>
</div>
    <div class="form-group">
        <label for="exampleInputPassword1" class="form-label mt-4">Rue</label>
        <input type="rue" class="form-control" id="rue" placeholder={{ form_widget(form.rue) }} >
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1" class="form-label mt-4">Code Postal</label>
        <input type="code_postal" class="form-control" id="code_postal" placeholder={{ form_widget(form.code_postal) }} >
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1" class="form-label mt-4">Ville</label>
        <input type="ville" class="form-control" id="ville" placeholder={{ form_widget(form.ville) }} >
    </div>
{% endif %}
{%if app.user.roles[0] == "ROLE_ETUDIANT" %}
    <div class="form-group">
        <label for="exampleInputPassword1" class="form-label mt-4">Domaine étude</label>
        <input type="domaine_etude" class="form-control" id="domaine_etude" placeholder={{ form_widget(form.domaine_etude) }} >
        <small id="role" class="form-text text-muted">Entrez votre domaine d'étude.</small>
    </div>
{% endif %}

{%if app.user.roles[0] == "ROLE_ADMIN" %}
<div class="form-group">
    {{ form_label(form.roles, 'Roles', {'label_attr': {'class': 'form-label mt-4'}}) }}

    {% for role in form.roles %}
        <div class="form-check form-switch">
            {{ form_widget(role, {'attr': {'class': 'form-check-input role-checkbox'}, 'id': 'role_' ~ role.vars.value}) }}
            {{ form_label(role, null, {'label_attr': {'class': 'form-check-label'}}) }}
        </div>
    {% endfor %}
    {% endif %}
</div>
        {% if form.password is defined %}

            <label> Password
                <input type="password" placeholder={{ form_widget(form.password) }}>

                <div class="password-icon">
                    <i data-feather="eye"></i>
                    <i data-feather="eye-off"></i>
                </div>
            </label>
        {% endif %}




{{ form_widget(form) }}

    <button class="btn">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}
