{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User </h1>
    {% if app.user.roles[0] == "ROLE_ADMIN"  %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Rue</th>
                <th>Code_postal</th>
                <th>Ville</th>
                <th>Domaine_etude</th>
                <th>Est_valide</th>
                <th>IsVerified</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <<td>
                    {% if user.roles is defined %}
                        {% for role in user.roles %}
                            {{ role }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    {% else %}
                        Aucun rôle défini
                    {% endif %}
                </td>
                <td>{{ user.password }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.rue }}</td>
                <td>{{ user.code_postal }}</td>
                <td>{{ user.ville }}</td>
                <td>{{ user.domaineEtude }}</td>
                <td>{{ user.estValide ? 'Yes' : 'No' }}</td>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% elseif app.user.roles[0] == "ROLE_USER"%}
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Password</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Adresse</th>
            <th>Domaine_etude</th>
            <th>Est_valide</th>
            <th>IsVerified</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ app.user.id }}</td>
                <td>{{ app.user.email }}</td>
                <td>{{ app.user.roles ? app.user.roles|json_encode : '' }}</td>
                <td>{{ app.user.password }}</td>
                <td>{{ app.user.nom }}</td>
                <td>{{ app.user.prenom }}</td>
                <td>{{ app.user.adresse }}</td>
                <td>{{ app.user.domaineEtude }}</td>
                <td>{{ app.user.estValide ? 'Yes' : 'No' }}</td>
                <td>{{ app.user.isVerified ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_user_edit', {'id': app.user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
                <tr>
                    <td colspan="7">aucunes données trouvées</td>
                </tr>

                </tbody>
                </table>

    {% endif %}


{% endblock %}
